[submodule "libft"]
	path = libft
	url = https://github.com/ixu42/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/ixu42/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/ixu42/ft_printf.git
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/ixu42/push_swap.git
[submodule "pipex"]
	path = pipex
	url = https://github.com/ixu42/pipex.git
[submodule "fdf"]
	path = fdf
	url = https://github.com/ixu42/fdf.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/ixu42/minishell.git
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/ixu42/philosophers.git
[submodule "cub3D"]
	path = cub3D
	url = https://github.com/ixu42/cub3D.git
[submodule "cpp_modules"]
	path = cpp_modules
	url = https://github.com/ixu42/cpp_modules.git
[submodule "webserv"]
	path = webserv
	url = https://github.com/ixu42/webserv.git
[submodule "inception"]
	path = inception
	url = https://github.com/ixu42/inception.git
[submodule "ft_transcendence"]
	path = ft_transcendence
	url = https://github.com/ixu42/ft_transcendence.git
